// html{ font-size: 26.67vw; }
html,body{height:100%;}
body{margin:0;padding:0;}

body>div{height:100%;}
.page{height:100%;
display: block}
@function rem($px){
    @return $px / 32px * 1rem;
}
// @function rem($px, $base-font-size: 32px) {
//     @if (unitless($px)) {
//       @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
//       @return rem($px + 0px); // That may fail.
//     } @else if (unit($px) == rem) {
//       @return $px;
//     }
//     @return ($px / $base-font-size) * 1rem;
//   }
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
em,i{
    font-style: normal;
}
input{
    border: none;
    background: none;
    outline: 0;
    resize: none;
    border-radius: 0;
    -webkit-appearance: none;
}
